Below script inserts chunks of data from the yellow_taxi_data.csv file 100,000 records at a time.
It ingests the data into a postgresql instance that we create in a docker container. The DB in this container is called ny_taxi

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [22]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [23]:
from sqlalchemy import create_engine

In [24]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [25]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [10]:
df_iterator = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [26]:
df = next(df_iterator)
len(df)

100000

In [27]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [17]:
# below line of code takes the 'yellow_tax_data' schema, uses the connection engine from previous cell, and adds .head() aka column names from
## csv file, using the schema to the postgresql instance we created and connected to via docker

# df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

# NEW statement below simply removes the n=0 (used only to input headers with schema) and takes loads chunks of the data 100,000 rows at a time
## also remove if_exists='replace' and using if_exists = 'append' to append new data to the empty table we just created

%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

# %time actually outputs the amount of time it took to load the data

CPU times: user 3.31 s, sys: 109 ms, total: 3.42 s
Wall time: 20.3 s

1000

In [28]:
from time import time

In [32]:
while True:
    df = next(df_iterator)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

StopIteration: